<{extend name="base"/}>
<{block name="title"}>
<title>活动导航</title>
<style>
    .mt-top{
        margin-top: 0px;
    }
    .layui-table td,.layui-table th{
        text-align: center;
    }
    .iconfont{
        font-size: 30px;
        -webkit-transition: font-size 0.25s ease-out 0s;
        -moz-transition: font-size 0.25s ease-out 0s;
        transition: font-size 0.25s ease-out 0s;
    }
    .iconfont:hover{
        cursor: pointer;
        font-size: 50px;
    }
</style>
<script type="text/javascript">
    var add_url ='<{:url("activity/add")}>';
    var update_url ='<{:url("activity/update")}>';
    var activity_status = '<{:url("activity/activityShow")}>';
</script>
<{/block}>
<{block name="content"}>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 活动导航 <span class="c-gray en">&gt;</span> 活动列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20 mt-top"> <span class="l"><a id="data-del" href="javascript:;" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" onclick="activity_set(this,'添加活动',add_url,0)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加活动</a></span> <span class="r" style="line-height: 38px;">共有数据：<strong><{$pageInfo.total}></strong> 条</span> </div>
    <div class="mt-20">

        <table class="layui-table layui-form">
            <colgroup>
                <col width="5%">
                <col width="5%">
                <col width="10%">
                <col width="5%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th><input class="delete_all" name="delete_all" type="checkbox" value="" lay-filter="delete_all" lay-skin="primary"></th>
                <th>ID</th>
                <th>活动名称</th>
                <th>排序</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>是否首页展示</th>
                <th>是否属于咚咚抢活动</th>
                <th >操作</th>
            </tr>
            </thead>
            <tbody>
            <{if condition="!empty($activityList)"}>
            <{foreach $activityList as $vo}>
            <tr>
                <td><input class="delete_sub" name="<{$vo.id}>" type="checkbox" value="<{$vo.id}>" lay-skin="primary" lay-filter="delete_sub"></td>
                <td><{$vo.id}></td>
                <td><{$vo.activity_name}></td>
                <td><{$vo.sort}></td>
                <td><{$vo.start_time}></td>
                <td><{$vo.end_time}></td>
                <td>
                    <div class="layui-input-block" style="margin-left: 0">
                        <input type="checkbox" name="switch"  value="<{$vo.status}>" <{eq name="$vo.status" value="1"}>checked<{/eq}> lay-skin="switch" lay-text="ON|OFF" lay-filter="switch" disabled/>
                    </div>
                </td>
                <td>
                    <div class="layui-input-block" style="margin-left: 0">
                        <input type="checkbox" name="switch"  value="<{$vo.is_qiang}>" <{eq name="$vo.is_qiang" value="1"}>checked<{/eq}> lay-skin="switch" lay-text="ON|OFF" lay-filter="switch" disabled/>
                    </div>
                </td>
                <td class="td-manage" data-status="<{$vo.status}>" data-id="<{$vo.id}>">
                    <a class="ad-show" style="text-decoration:none" title="<{switch name='$vo.status'}><{case value='1'}>开启<{/case}><{default /}>关闭<{/switch}>"><i class="Hui-iconfont"><{switch name="$vo.status"}><{case value="1"}>&#xe6de;<{/case}><{default /}>&#xe603;<{/switch}></i></a>
                    <a style="text-decoration:none" class="ml-5 ad-edit" href="javascript:void(0);" onclick="activity_set(this,'修改活动',update_url,1)" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a style="text-decoration:none" class="ml-5 ad-delete" href="javascript:void(0);" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            <{/foreach}>
            <{else/}>
            <tr>
                <td colspan="9" height="50"><h1 style="font-size: 18px; text-align: center">暂时没有数据</h1></td>
            </tr>
            <{/if}>
            </tbody>
        </table>
        <div id="page" ></div>
        <div id="msg" style="display: none"></div>
    </div>
</div>
<{/block}>
<{block name="js"}>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    layui.use(['layer','form'], function(){
        var layer = layui.layer;
        var form = layui.form();

        //实现全选与反选 父级checkbox选择事件
        form.on('checkbox(delete_all)', function(data){
            if(data.elem.checked ===true){
                $(":checkbox").prop('checked',true);
                $(":checkbox").siblings('.layui-form-checkbox').addClass('layui-form-checked');
            }else{

                $(":checkbox").prop('checked',false);

                $(":checkbox").siblings('.layui-form-checkbox').removeClass('layui-form-checked');

            }

        });
        //子级checkbox选择事件
        form.on('checkbox(delete_sub)', function(data) {
            if (data.elem.checked === false) {
                $(".delete_all").prop('checked', false);
                $(".delete_all").siblings('.layui-form-checkbox').removeClass('layui-form-checked');
                return;
            } else {
                if ($(".delete_sub:checked:checked").length === $(".delete_sub").length) {
                    $(".delete_all").prop('checked', true);
                    $(".delete_all").siblings('.layui-form-checkbox').addClass('layui-form-checked');

                }

            }
        });

    });

    /*活动-添加修改*/
    function activity_set(obj,title,url,type){
        //一般直接写在一个js文件中
        var link ;
        link =url;
        if (parseInt(type) ===1){
            var id = $(obj).parent().attr('data-id');
            link = url+'?id='+id;
        }

        layui.use(['layer'], function(){
            var layer = layui.layer;
            var index = layer.open({
                type: 2,
                title: title,
                content: link,
                end:function () {
                    if($('#msg').text()==='修改成功'){
                        location.reload();
                    }
                }
            });
            layer.full(index);
        });
    }

    $(function () {
        //分类是否在首页展示
        $('.td-manage .ad-show').on('click',function (e) {
            e.preventDefault();
            var _this = $(this);
            var status = _this.parent().attr('data-status');
            var id = _this.parent().attr('data-id');
            var data = {status:status,id:id}
            var title = ((parseInt(status) === 1) ? '关闭':'开启');

            x0p({
                title: '是否要'+title+'该活动在首页显示?',
                icon: 'info',
                animationType: 'fadeIn',
                buttons: [
                    {
                        type: 'cancel',
                        text: '取消',
                    },
                    {
                        type: 'info',
                        text: '确定',
                        showLoading: true
                    }
                ]
            }, function(button) {

                if(button === 'info') {
                    $.ajax({
                        type:'post',
                        url:activity_status,
                        dataType:'json',
                        data:data,
                        //contentType: false,
                        //processData: false,
                        success:function (res) {

                            if (res.status ==='ok'){
                                x0p({
                                    title: '活动信息'+title+'成功',
                                    icon: 'ok',
                                    animationType: 'pop',
                                    buttons: [
                                        {
                                            type: 'ok',
                                            text: '确定'
                                        }
                                    ]
                                }, function(button) {
                                    if(button === 'ok') {
                                        location.reload();
                                    }
                                });

                            }else{
                                x0p('错误提示', res.errorMsg, 'error', false);
                            }

                        },
                        error:function (res) {
                            x0p('错误提示', '网络链接失败，请重新再试', 'error', false);

                        },
                        complete:function (res) {

                        }
                    })

                }
            });
        });
        //分类删除
        $('.ad-delete').on('click',function (e) {
            var _this = $(this);
            layui.use(['layer'], function(){
                var layer = layui.layer;
                layer.confirm('确认要删除吗？',function(index){

                    console.log(_this);
                    var id = _this.parent().attr('data-id');
                    console.log(id);
                    $.ajax({
                        type: 'POST',
                        url: '<{:url("activity/delete")}>',
                        dataType: 'json',
                        data: {id:id},
                        success: function(res){
                            if(res.status ==='ok'){
                                _this.parents("tr").remove();
                                layer.msg('已删除!',{icon:1,time:1000});

                            }else{
                                layer.msg(res.errorMsg,{icon:1,time:1000});

                            }

                        },
                        error:function(data) {
                            layer.msg('删除失败请重试!',{icon:1,time:1000});
                        },
                    });
                });
            });


        });


        //批量删除
        $('#data-del').on('click',function () {

            var ids =[];
            $('.delete_sub:checked:checked').each(function (index,value) {
                ids.push($(this).val());
            });
            layui.use(['layer'], function(){
                var layer = layui.layer;
                if(ids.length ===0){
                    layer.msg('您啥也没选择')

                }else{
                    layer.confirm('确认要删除吗？',function(index){

                        $.ajax({
                            type: 'POST',
                            url: '<{:url("activity/deleteAll")}>',
                            dataType: 'json',
                            data: {ids:ids},
                            success: function(res){
                                if(res.status ==='ok'){
                                    //_this.parents("tr").remove();
                                    layer.msg('已删除!',{icon:1,time:1000});
                                    $('.delete_sub:checked:checked').each(function (index,value) {
                                        $(this).parents('tr').remove();
                                    });

                                }else{
                                    layer.msg(res.errorMsg,{icon:1,time:1000});

                                }
                            },
                            error:function(data) {
                                layer.msg('删除失败请重试!',{icon:1,time:1000});
                            },
                        });
                    });

                }

            });

            console.log(JSON.stringify(ids));
        });

    });

</script>
<script type="text/javascript">
    $('.dataTables_info').css('display', 'none');
    layui.use(['laypage'], function(){
        //var layer = layui.layer;
        var  laypage = layui.laypage;
        //分页
        laypage({
            cont: 'page', //分页容器的id
            pages: <{$pageInfo.page}>, //总页数,
            curr:<{$pageInfo.cur}>,
            skin: '#5FB878', //自定义选中色值
            jump: function(obj, first){
                if(!first){
                    window.location = "<{:url('activity/index')}>?page="+ obj.curr;
                }
            }
        });
    });

</script>

<{/block}>
