<{extend name="base"/}>
<{block name="title"}>
<title>后台欢迎页</title>
<{/block}>
<{block name="content"}>
<div class="page-container">
    <p class="f-20 text-success">欢迎<{:session('username')}>登陆后台</p>
    <p>登录次数：18 </p>
    <p>上次登录IP：<{:session('last_ip')}>  上次登录时间：<{:date('Y-m-d H:i:s',session('last_time'))}></p>
    <table class="table table-border table-bordered table-bg mt-20">
        <thead>
        <tr>
            <th colspan="2" scope="col">服务器信息</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>服务器IP地址</td>
            <td><{$_SERVER['SERVER_ADDR']}></td>
        </tr>
        <tr>
            <td>服务器域名</td>
            <td><{$_SERVER['HTTP_HOST']}></td>
        </tr>
        <tr>
            <td>服务器端口 </td>
            <td><{$_SERVER['SERVER_PORT']}></td>
        </tr>
        <tr>
            <td>服务器IIS版本 </td>
            <td><{$_SERVER['SERVER_SOFTWARE']}></td>
        </tr>
        <tr>
            <td>本文件所在文件夹 </td>
            <td><{$_SERVER['DOCUMENT_ROOT']}></td>
        </tr>
        <tr>
            <td>服务器当前时间 </td>
            <td><{$_SERVER['REQUEST_TIME']|date='Y-m-d H:i:s',###}></td>
        </tr>
        </tbody>
    </table>
</div>
<footer class="footer mt-20">
    <div class="container">
        <p>本系统是基于jQuery框架，bootstrap框架开发的<br>
            Copyright &copy;2017-2018 jechorn.top二次开发 All Rights Reserved.<br>
            本后台系统由使用的是h-ui框架</p>
    </div>
</footer>
<{/block}>
<{block name="js"}>
<!--此乃百度统计代码，请自行删除-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!--/此乃百度统计代码，请自行删除-->
<{/block}>
