<{extend name="base"/}>
<{block name="title"}>
<title>分类管理</title>
<style>
    .mt-top{
        margin-top: 0px;
    }
    .layui-table td,.layui-table th{
        text-align: center;
    }

</style>
<script type="text/javascript">
    var add_url ='<{:url("quan/add")}>';
</script>
<{/block}>
<{block name="content"}>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 采集管理 <span class="c-gray en">&gt;</span> 好券采集 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20 mt-top">
        <span class="l">
            <a id="data-del" href="javascript:;" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
            <a class="btn btn-primary radius" onclick="collect_set(this,'添加采集规则',add_url,0)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加采集规则</a>
            <a class="btn btn-primary radius" id="auto-collect" href="javascript:;" onclick="collect_product(2)"><i class="Hui-iconfont">&#xe600;</i> 一键采集所有采集规则</a>
        </span>
        <span class="r" style="line-height: 38px;">共有数据：<strong><{$pageInfo.total}></strong> 条</span>
    </div>
    <div class="mt-20">

        <table class="layui-table layui-form">
            <colgroup>
                <col width="5%">
                <col width="5%">
                <col width="25%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th><input class="delete_all" name="delete_all" type="checkbox" value="" lay-filter="delete_all" lay-skin="primary"></th>
                <th>ID</th>
                <th>采集器名称</th>
                <th>关键词</th>
                <th>总页数</th>
                <th>所属分类</th>
                <th >操作</th>
            </tr>
            </thead>
            <tbody>
            <{if condition="!empty($collectList)"}>
            <{foreach $collectList as $vo}>
            <tr>
                <td><input class="delete_sub" name="<{$vo.id}>" type="checkbox" value="<{$vo.id}>" lay-skin="primary" lay-filter="delete_sub"></td>
                <td><{$vo.id}></td>
                <td><{$vo.name}></td>
                <td><{$vo.keyword}></td>
                <td><{$vo.total_page}></td>
                <td><{$vo.cate_name}></td>
                <td class="td-manage"  data-id="<{$vo.id}>" data-type="1">
                    <a style="text-decoration:none" class="ml-5 product-collect" href="javascript:void(0);" onclick="collect_product(1,<{$vo.id}>)" title="商品采集"><i class="Hui-iconfont">&#xe641;</i></a>
                    <a style="text-decoration:none" class="ml-5 collect-delete" href="javascript:void(0);" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            <{/foreach}>
            <{else/}>
            <tr>
                <td colspan="7" height="50"><h1 style="font-size: 18px; text-align: center">暂时没有数据</h1></td>
            </tr>
            <{/if}>
            </tbody>
        </table>
        <div id="page" ></div>
        <div id="msg" style="display: none"></div>
    </div>
</div>
<{/block}>
<{block name="js"}>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    layui.use(['layer','form'], function(){
        var layer = layui.layer;
        var form = layui.form();

        //实现全选与反选 父级checkbox选择事件
        form.on('checkbox(delete_all)', function(data){
            if(data.elem.checked ===true){
                $(":checkbox").prop('checked',true);
                $(":checkbox").siblings('.layui-form-checkbox').addClass('layui-form-checked');
            }else{

                $(":checkbox").prop('checked',false);

                $(":checkbox").siblings('.layui-form-checkbox').removeClass('layui-form-checked');

            }

        });
        //子级checkbox选择事件
        form.on('checkbox(delete_sub)', function(data) {
            if (data.elem.checked === false) {
                $(".delete_all").prop('checked', false);
                $(".delete_all").siblings('.layui-form-checkbox').removeClass('layui-form-checked');
                return;
            } else {
                if ($(".delete_sub:checked:checked").length === $(".delete_sub").length) {
                    $(".delete_all").prop('checked', true);
                    $(".delete_all").siblings('.layui-form-checkbox').addClass('layui-form-checked');

                }

            }
        });

    });

    /*采集器的添加*/
    function collect_set(obj,title,url,type){
        //一般直接写在一个js文件中
        var link ;
        link =url;
        if (parseInt(type) ===1){
            var id = $(obj).parent().attr('data-id');
            link = url+'?id='+id;
        }

        layui.use(['layer'], function(){
            var layer = layui.layer;
            var index = layer.open({
                type: 2,
                title: title,
                content: link,
                end:function () {
                    if($('#msg').text()==='修改成功'){
                        location.reload();
                    }
                }
            });
            layer.full(index);
        });
    }

    //弹出一个页面层
    //采集阿里妈妈选库商品

    function collect_product(type,id) {
        var id = id ||'';
        var url;
        var title ;
        switch (type) {

            case 1:
                title = '采集商品';
                url = '<{:url("quan/show")}>'+'?type=1&id='+id;
                break;
            case 2:
                title = '一键采集';
                url = '<{:url("quan/show")}>'+'?type=2';
                break;

        }
        layer.open({
            type: 2,
            title:title,
            area: ['500px', '320px'],
            shadeClose: false, //点击遮罩不关闭
            resize:false,
            content: url
        });

    }


    $(function () {
        //分类删除
        $('.collect-delete').on('click',function (e) {
            var _this = $(this);
            layui.use(['layer'], function(){
                var layer = layui.layer;
                layer.confirm('确认要删除吗？',function(index){

                    console.log(_this);
                    var id = _this.parent().attr('data-id');
                    console.log(id);
                    $.ajax({
                        type: 'POST',
                        url: '<{:url("quan/delete")}>',
                        dataType: 'json',
                        data: {id:id},
                        success: function(res){
                            if(res.status ==='ok'){
                                _this.parents("tr").remove();
                                layer.msg('已删除!',{icon:1,time:1000});

                            }else{
                                layer.msg(res.errorMsg,{icon:1,time:1000});

                            }

                        },
                        error:function(data) {
                            layer.msg('删除失败请重试!',{icon:1,time:1000});
                        },
                    });
                });
            });


        });

        //批量删除
        $('#data-del').on('click',function () {

            var ids =[];
            $('.delete_sub:checked:checked').each(function (index,value) {
                ids.push($(this).val());
            });
            layui.use(['layer'], function(){
                var layer = layui.layer;
                if(ids.length ===0){
                    layer.msg('您啥也没选择')

                }else{
                    layer.confirm('确认要删除吗？',function(index){

                        $.ajax({
                            type: 'POST',
                            url: '<{:url("quan/deleteAll")}>',
                            dataType: 'json',
                            data: {ids:ids},
                            success: function(res){
                                if(res.status ==='ok'){
                                    //_this.parents("tr").remove();
                                    layer.msg('已删除!',{icon:1,time:1000});
                                    $('.delete_sub:checked:checked').each(function (index,value) {
                                        $(this).parents('tr').remove();
                                    });

                                }else{
                                    layer.msg(res.errorMsg,{icon:1,time:1000});

                                }
                            },
                            error:function(data) {
                                layer.msg('删除失败请重试!',{icon:1,time:1000});
                            },
                        });
                    });

                }

            });

            console.log(JSON.stringify(ids));
        });

    });

</script>
<script type="text/javascript">
    $('.dataTables_info').css('display', 'none');
    layui.use(['laypage'], function(){
        //var layer = layui.layer;
        var  laypage = layui.laypage;
        //分页
        laypage({
                cont: 'page', //分页容器的id
                pages: <{$pageInfo.page}>, //总页数,
        curr:<{$pageInfo.cur}>,
        skin: '#5FB878', //自定义选中色值
            jump: function(obj, first){
            if(!first){
                window.location = "<{:url('quan/index')}>?page="+ obj.curr;
            }
        }
    });
    });

</script>

<{/block}>
