<{extend name="base"/}>
<{block name="title"}>
<title>一键采集商品</title>
<style>
    .padding-container {
        padding: 20px;
        text-align: center;
    }
    .icon-font {
        font-size: 50px;
        margin: 0 auto;
        display: inline-block;

    }
    #before-collect p,#state-msg p{
        font-size: 14px;
        line-height: 28px;
    }


</style>

<{/block}>
<{block name="content"}>
<div class="padding-container">

    <div id="before-collect">
        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop icon-font">&#xe63d;</i>
        <p>正在采集选库表中，请稍后.....</p>
        <p>采集过程中请不要关闭本页面</p>
    </div>
    <div id="state-msg">

    </div>


</div>

<{/block}>
<{block name="js"}>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function () {
        (function longPolling() {
            //alert(Date.parse(new Date())/1000);
            $.ajax({
                url: "<{$ajaxUrl}>",
                type:'get',
                data: {"timed": Date.parse(new Date())/1000},
                dataType: "json",
                timeout: 600000,//60秒超时，可自定义设置
                error: function (XMLHttpRequest, textStatus, errorThrown) {
//
//                    if (textStatus === "timeout") { // 请求超时
//
//                        longPolling(); // 递归调用
//                    } else { // 其他错误，如网络错误等
//                        longPolling();
//                    }
                    $('#before-collect').css('display','none');
                    $('#state-msg').html('<p>服务器连接失败正在重试...</p>');
                    $('#state-msg').css('display','block');
                    setTimeout(function () {
                        longPolling(); // 递归调用
                        $('#before-collect').css('display','block');
                        $('#state-msg').css('display','none');

                    },3000);

                },
                success: function (data, textStatus) {
                    $("#state").text(data.msg);
                    if (parseInt(data.status) === 2) { // 请求成功
                        $('#before-collect').css('display','none');
                        $('#state-msg').html('<p>'+data.msg+'</p>');
                        $('#state-msg').css('display','block');
                    }else{
                        $('#before-collect').css('display','none');
                        $('#state-msg').html('<p>'+data.msg+'</p>');
                        $('#state-msg').css('display','block');
                        setTimeout(function () {
                            longPolling(); // 递归调用
                            $('#before-collect').css('display','block');
                            $('#state-msg').css('display','none');

                        },2000);
                    }
                }
            });

        })();
    });

</script>

<{/block}>
